{{> @banner className="Banner--bordered" }}

<main id="main" role="main" tabindex="0" class="InvestorsPage-filings">
  {{> @sub-navigation }}

  <div class="page-content container padded">
    <h1>{{ title }}</h1>

    {{ render "@filter" }}

    {{ render "@table--responsive" }}

    <hr>

    {{ render "@pagination" }}
  </div>

  <footer class="page-footer container">
    {{ render "@utility-links" }}

    <hr class="dark">

    {{> @next-page }}
  </footer>
</main>

{{ render "@contentinfo" }}
