<div class="TeamMember" itemprop="employee" itemscope itemtype="http://schema.org/Person">
  <img class="TeamMember-image"
    itemprop="image"
    src="{{ path teamMember.image.src }}"
    alt="{{ teamMember.image.title }}">

  <h5 class="TeamMember-name" itemprop="name">
    {{ teamMember.name }}
  </h5>

  <p class="TeamMember-title" itemprop="jobTitle">
    {{ teamMember.title }}
  </p>

  <div class="TeamMember-panel">
    <p class="TeamMember-bio" itemprop="description">
      {{ teamMember.bio }}
    </p>
  </div>
</div>
