<form class="Filter">
  <div class="Filter-fieldset">
    <label for="keyword-search-input">
      {{ filter.keyword.label }}
      {{> @help-tip helpTip=filter.keyword.helpTip }}
    </label>

    {{> @input input=filter.keyword.input }}
  </div>

  <div class="Filter-fieldset">
    <label for="years-select">
      {{ filter.years.label }}
    </label>

    {{> @select select=filter.years.select }}
  </div>

  <div class="Filter-fieldset">
    <label for="groupings-select">
      {{ filter.groupings.label }}
      {{> @help-tip helpTip=filter.groupings.helpTip }}
    </label>

    {{> @select select=filter.groupings.select }}
  </div>

  <button class="Button Filter-button" type="submit">Search</button>

  <a class="Filter-link" href="{{ filter.filingsLink.url }}">
    {{ filter.filingsLink.label }}
  </a>
</form>
