{{ render "@banner" }}

<main id="main" role="main" tabindex="0">
  {{> @sub-navigation }}

  <div class="InvestorsPage-container">
    <div class="InvestorsPage-filings container">
      <h1>{{ title }}</h1>

      {{ render "@filter" }}

      {{ render "@table--responsive" }}

      <hr>

      {{ render "@pagination" }}
    </div>
  </div>

  <div class="container">
    {{> @utility-links}}

    <hr class="dark">

    {{> @next-page }}
  </div>
</main>

{{ render "@global-footer" }}
