<!doctype html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{{#if _target.context.title}}{{ _target.context.title }} &middot; {{/if}}Surgery Partners</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <meta name="author" content="Surgery Partners">
		<meta name="description" content="{{ _target.context.description }}">

    <meta property="og:site_name" content="Surgery Partners">
		<meta property="og:type" content="website">
		<meta property="og:title" content="{{ _target.context.title }}">
		<meta property="og:description" content="{{ _target.context.description }}">
    {{#if _target.context.image}}
      <meta property="og:image" content="{{ path _target.context.image }}">
    {{/if}}
    {{#if _target.context.slug}}
  		<meta property="og:url" content="https://www.surgerypartners.com{{ _target.context.slug }}">
    {{/if}}
    <meta property="og:site_name" content="Surgery Partners">
		<meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@surgerypartners">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" title="favicon">

    {{#if _target.context.slug}}
      <link rel="canonical" href="https://www.surgerypartners.com{{ _target.context.slug }}">
    {{/if}}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="{{ path '/main.css' }}">
    <link rel="stylesheet" href="{{ path '/{{ _target.context.assetFileName }}.css' }}">

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "MedicalOrganization",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "40 Burton Hills Blvd, Suite 500",
          "addressLocality": "Nashville",
          "addressRegion": "Tennessee",
          "postalCode": "37215",
          "addressCountry": "United States"
        },
        "name": "Surgery Partners",
        "alternateName": [
        ],
        "legalName": "",
        "containedInPlace": "",
        "telephone": "615-234-5900",
        "faxNumber": "615-234-5998",
        "url": "https://www.surgerypartners.com/",
        "logo": "",
        "email": "",
        "description": "",
        "sameAs": [
        ],
        "image": [
          {
            "@type": "ImageObject",
      			"url": "",
      			"description": ""
      		},
      		{
            "@type": "ImageObject",
      			"url": "",
      			"description": ""
          },
          {
            "@type": "ImageObject",
      			"url": "",
      			"description": ""
          },
          {
            "@type": "ImageObject",
      			"url": "",
      			"description": ""
      		}
      	]
      }
    </script>
  </head>

  <body class="{{ _target.context.classname }}">
    {{> @skip-link }}

    {{{ yield }}}

    {{> @icon-sprite }}

    <script src="{{ path '/main.js' }}"></script>
    <script src="{{ path '/{{ _target.context.assetFileName }}.js' }}"></script>
  </body>
</html>
