<table class="table-responsive">
  <thead>
    <tr>
      <th>Filing Date</th>
      <th>Form</th>
      <th>Description</th>
      <th>Filing Group</th>
      <th>Downloads</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td data-label="Filing Date">May 04, 2017</td>
      <td data-label="Form"><a href="#">4</a></td>
      <td data-label="Description">Statement of changes in beneficial ownership of securities</td>
      <td data-label="Filing Group">3,4,5</td>
      <td data-label="Downloads">
        {{ render "@file-download--doc-on" }}
        {{ render "@file-download--pdf-on" }}
        {{ render "@file-download--xls-on" }}
        {{ render "@file-download--xbrl-off" }}
      </td>
    </tr>

    <tr>
      <td data-label="Filing Date">May 04, 2017</td>
      <td data-label="Form"><a href="#">4</a></td>
      <td data-label="Description">Statement of changes in beneficial ownership of securities</td>
      <td data-label="Filing Group">3,4,5</td>
      <td data-label="Downloads">
        {{ render "@file-download--doc-off" }}
        {{ render "@file-download--pdf-on" }}
        {{ render "@file-download--xls-off" }}
        {{ render "@file-download--xbrl-on" }}
      </td>
    </tr>

    <tr>
      <td data-label="Filing Date">May 04, 2017</td>
      <td data-label="Form"><a href="#">4</a></td>
      <td data-label="Description">Statement of changes in beneficial ownership of securities</td>
      <td data-label="Filing Group">3,4,5</td>
      <td data-label="Downloads">
        {{ render "@file-download--doc-on" }}
        {{ render "@file-download--pdf-on" }}
        {{ render "@file-download--xls-on" }}
        {{ render "@file-download--xbrl-on" }}
      </td>
    </tr>

    <tr>
      <td data-label="Filing Date">April 04, 2017</td>
      <td data-label="Form"><a href="#">4</a></td>
      <td data-label="Description">Statement of changes in beneficial ownership of securities</td>
      <td data-label="Filing Group">3,4,5</td>
      <td data-label="Downloads">
        {{ render "@file-download--doc-on" }}
        {{ render "@file-download--pdf-off" }}
        {{ render "@file-download--xls-off" }}
        {{ render "@file-download--xbrl-off" }}
      </td>
    </tr>
  </tbody>
</table>
