<div class="PressReleaseContact">
  <h4>Contact</h4>

  <p>
    {{ pressReleaseContact.name }}<br>
    {{ pressReleaseContact.company }}<br>
    <a href="tel:+1{{ pressReleaseContact.phone }}">
      {{ pressReleaseContact.phone }}
    </a><br>
    <a href="mailto:{{ pressReleaseContact.email }}">
      {{ pressReleaseContact.email }}
    </a>
  </p>
</div>
