<div class="StockPriceCard">
  <header class="StockPriceCard-header">
    <b>{{ stockPriceCard.symbol }} –</b>
    <time datetime="{{ stockPriceCard.date.iso }}">
      {{ stockPriceCard.date.formatted }}
    </time>
  </header>

  {{> @stock-price stockPrice=stockPriceCard.price }}

  {{#if stockPriceCard.update}}
    <footer class="StockPriceCard-footer">
      <time datetime="{{ stockPriceCard.update.date.iso }}">
        {{ stockPriceCard.update.date.formatted }}
      </time><br>

      <a href="{{ stockPriceCard.update.url }}">
        Read more
      </a>
    </footer>
  {{/if}}
</div>
