{{ render "@global-header" }}

<main id="main" role="main" tabindex="0">
  {{> @masthead }}

  <div class="sticky">
    {{> @sub-navigation }}
  </div>

  <div class="container">
    {{> @introduction }}

    <section class="js-spy-section" id="{{ sections.[0].id }}">
      {{> @image-block block=sections.[0] }}

      <hr>

      {{> @testimonial testimonial=testimonials.[0] }}
    </section>

    <hr>

    <section class="js-spy-section" id="{{ sections.[1].id }}">
      {{> @image-block--alternate block=sections.[1] }}

      <hr>

      {{> @testimonial testimonial=testimonials.[1] }}
    </section>
  </div>

  {{> @feature }}

  <div class="container">
    <section class="js-spy-section" id="{{ sections.[2].id }}">
      {{> @image-block--alternate block=sections.[2] }}

      <hr>

      {{> @testimonial testimonial=testimonials.[2] }}
    </section>

    <hr>

    <section class="js-spy-section" id="{{ sections.[3].id }}">
      {{> @image-block block=sections.[3] }}

      <hr>

      {{> @testimonial testimonial=testimonials.[3] }}
    </section>

    <hr class="dark">

    {{> @pagination }}
  </div>
</main>

{{ render "@global-footer" }}
