<!doctype html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Preview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" title="favicon">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"> -->
    <!-- <link rel="stylesheet" href="{{ path '/main.css' }}"> -->
    <link rel="stylesheet" href="{{ path '/styleguide.css' }}">
  </head>

  <body>
    {{{ yield }}}

    {{> @icon-sprite }}
    <!-- <script src="{{ path '/main.js' }}"></script> -->
    <script src="{{ path '/styleguide.js' }}"></script>
  </body>
</html>
