{{ render "@banner" }}

<main id="main" role="main" tabindex="0">
  {{> @masthead }}

  <div class="sticky">
    {{> @sub-navigation }}
  </div>

  <div class="container">
    {{> @introduction }}
  </div>

  <section class="section-gradient js-spy-section" id="{{ sections.[0].id }}">
    <div class="container">
      <div class="column">
        {{> @text-block block=sections.[0] }}

        {{> @service-cards }}
      </div>
    </div>
  </section>

  <section class="js-spy-section" id="{{ sections.[1].id }}">
    <div class="container">
      <div class="column">
        {{> @text-block block=sections.[1] }}
      </div>
    </div>

    {{> @feature--highlights }}
  </section>

  <section class="js-spy-section" id="{{ sections.[2].id }}">
    <div class="container">
      <div class="column">
        {{> @text-block block=sections.[2] }}

        {{> @timeline }}
      </div>
    </div>
  </section>

  <section class="section-gradient js-spy-section" id="leadership">
    <div class="container">
      <div class="column align-center">
        <h2>Leadership</h2>
      </div>

      {{> @leadership-team }}
    </div>
  </section>

  <div class="container">
    <hr class="dark">

    {{> @next-page }}
  </div>
</main>

{{ render "@contentinfo" }}
