{{ render "@banner" }}

<main id="main" role="main" tabindex="0">
  {{> @masthead className="js-masthead" }}

  <div class="sticky">
    {{> @sub-navigation }}
  </div>

  <div class="container">
    {{> @introduction className="js-introduction" }}
  </div>

  <section class="background-gradient js-spy-section" id="{{ sections.[0].id }}">
    <div class="container">
      <div class="content">
        <h2>{{ sections.[0].heading }}</h2>

        {{#each sections.[0].content}}
          <p>{{ this }}</p>
        {{/each}}

        {{> @service-cards className="js-service-cards" }}
      </div>
    </div>
  </section>

  <section class="js-spy-section" id="{{ sections.[1].id }}">
    <div class="container">
      <div class="content">
        <h2>{{ sections.[1].heading }}</h2>

        {{#each sections.[1].content}}
          <p>{{ this }}</p>
        {{/each}}
      </div>
    </div>

    {{> @feature--highlights className="js-feature" }}
  </section>

  <section class="js-spy-section" id="{{ sections.[2].id }}">
    <div class="container">
      <div class="content">
        <h2>{{ sections.[2].heading }}</h2>

        {{#each sections.[2].content}}
          <p>{{ this }}</p>
        {{/each}}

        {{> @timeline }}
      </div>
    </div>
  </section>

  <section class="background-gradient js-spy-section" id="leadership">
    <div class="container">
      <div class="content align-center">
        <h2>Leadership</h2>
      </div>

      {{> @leadership-team className="js-leadership-team" }}
    </div>
  </section>

  <div class="container">
    <hr class="dark">

    {{> @next-page }}
  </div>
</main>

{{ render "@contentinfo" }}
