<table class="token-table">
  <tr>
    <th>Token</th>
    <th>Value</th>
    <th>Example</th>
  </tr>

  {{#each color as |value key|}}
    <tr>
      <td><code>$background-{{key}}</code></td>
      <td>
        {{#each value as |childValue childKey|}}
          <div>
            <code>{{childValue}}</code>
          </div>
        {{/each}}
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:{{value.hex}}; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
  {{/each}}

  <!-- {{#each color}}
    <tr>
      <td><code>$background-{{@key}}</code></td>
      <td><code>{{this}}</code></td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:{{this}};">
        </div>
      </td>
    </tr>
  {{/each}} -->
</table>

<!-- {{#each color}}
  <div class="Background--{{@key}} swatch">
    {{@key}} ({{this}})
  </div>
{{/each}} -->

<!-- <div class="Background swatch swatch--light">
  White
</div>

<div class="Background--blue swatch">
  Blue
</div>

<div class="Background--plum swatch">
  Plum
</div>

<div class="Background--green swatch">
  Green
</div>

<div class="Background--peach swatch">
  Peach
</div>

<div class="Background--yellow swatch swatch--light">
  Yellow
</div> -->
